<div class="text-center well" style="background-color: #FFFFFF">
  <h1 class="text-center" style="margin: 20 0 20 0">新增物資項目</h1>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-3">
      <label class="control-label">全贈字號</label>
      <input class="form-control" placeholder="10502001"> </div>
    <div class="col-md-3">
      <label class="control-label">品項名稱</label>
      <input class="form-control" placeholder="開心果"> </div>
    <div class="col-md-3">
      <label class="control-label">品項流水號</label>
      <input class="form-control" placeholder="2938410"> </div>
    <div class="col-md-3">
      <label class="control-label">條碼</label>
      <input class="form-control" placeholder="29384923 92839187"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-2">
      <label class="control-label">品項分類</label>
      <select name="item-category" class="form-control">
        <option>營養品</option>
        <option>沖泡品</option>
        <option>主食類</option>
        <option>罐頭</option>
        <option>生活用品</option>
        <option>零食</option>
        <option>調味品</option>
        <option>飲料</option>
        <option>生鮮食品</option>
        <option>其他</option>
      </select>
    </div>
    <div class="col-md-2">
      <label class="control-label">倉庫地區</label>
      <select name="warehouse-area" class="form-control">
        <option>台中</option>
        <option>高雄</option>
      </select>
    </div>
    <div class="col-md-2">
      <label class="control-label">數量</label>
      <input class="form-control" placeholder="5"> </div>
    <div class="col-md-2">
      <label class="control-label">單位</label>
      <input class="form-control" placeholder="盒"> </div>
    <div class="col-md-2">
      <label class="control-label">重量 (g)</label>
      <input class="form-control" placeholder="150"> </div>
    <div class="col-md-2">
      <label class="control-label">單價</label>
      <input class="form-control" placeholder="200"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-2">
      <label class="control-label">捐贈日期</label>
      <input class="form-control" placeholder="105-02-20"> </div>
    <div class="col-md-2">
      <label class="control-label">有效期限</label>
      <input class="form-control" placeholder="105-03-01"> </div>
    <div class="col-md-2">
      <label class="control-label">捐贈者</label>
      <input class="form-control" placeholder="boss"> </div>
    <div class="col-md-6">
      <label class="control-label">紀錄與描述</label>
      <input type="password" class="form-control" placeholder="描述物品"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-12">
      <button class="btn btn-success btn-lg">取消</button>
      <button class="btn btn-warning btn-lg">送出</button>
    </div>
  </div>
</div>
