<div class="text-center well" style="background-color: #FFFFFF">
  <h1 class="text-center" style="margin: 20 0 20 0">更新物資資訊</h1>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-3">
      <label class="control-label">ID</label>
      <div class="row">
        <label class="control-label">10502001</label>
      </div>
    </div>
    <div class="col-md-3">
      <label class="control-label">名稱</label>
      <input class="form-control" placeholder="開心果"> </div>
    <div class="col-md-3">
      <label class="control-label">捐贈日期</label>
      <input class="form-control" placeholder="105-02-20"> </div>
    <div class="col-md-3">
      <label class="control-label">有效期限</label>
      <input class="form-control" placeholder="105-02-01"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-4">
      <label class="control-label">分類</label>
      <label class="control-label"></label>
    </div>
    <div class="col-md-2">
      <label class="control-label">數量</label>
      <input class="form-control" placeholder="5"> </div>
    <div class="col-md-2">
      <label class="control-label">單位</label>
      <input class="form-control" placeholder="盒"> </div>
    <div class="col-md-2">
      <label class="control-label">重量</label>
      <input class="form-control" placeholder="150"> </div>
    <div class="col-md-2">
      <label class="control-label">價格</label>
      <input class="form-control" placeholder="200"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-6">
      <label class="control-label">紀錄</label>
      <input type="password" class="form-control" placeholder="從boss來的"> </div>
    <div class="col-md-6">
      <label class="control-label">描述</label>
      <input type="password" class="form-control" placeholder="描述物品"> </div>
  </div>
  <div class="row">
    <hr style="border-width: 2px; border-color: #AAAAAA; margin: 30 0 30 0">
    <h1 class="text-center" style="margin: 20 0 20 0">收據資訊</h1>
    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-4">
        <label class="control-label">接收人</label>
        <input class="form-control" placeholder="ex:周星星"> </div>
      <div class="col-md-4">
        <label class="control-label">物資類型</label>
        <input class="form-control" placeholder="ex:09123231239"> </div>
    </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-12">
      <button class="btn btn-success btn-lg">取消</button>
      <button class="btn btn-warning btn-lg">送出</button>
    </div>
  </div>
</div>
