<div class="row" style="margin: 20 10 10 10">
  <div class="col-md-4">
    
    <!--use date form-->
    <input class="form-control" placeholder="你要找什麼呢？" [(ngModel)]="searchWord"> </div>
  <div class="col-md-4">
    <select name="category" class="form-control" [(ngModel)]="searchKey">
      <option *ngFor="let item of category" [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary" (click)="searchClick()">送出</button>
  </div>
</div>
<div class="row" style="margin: 20 10 10 10">
  <div class="col-md-12 text-center">
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>
            <input type="checkbox" value=""> </th>
          <th>全贈字號</th>
          <th>品項名稱</th>
          <th>有效期限</th>
          <th>品項分類</th>
          <th>剩餘數量</th>
          <th>選項</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemList">
          <td>
            <input type="checkbox" (change)="checkChange(item, $event.target.checked)"> </td>
          <td>{{item._id}}</td>
          <td>{{item.item_name}}</td>
          <td>{{item.expire_dt | date : 'dd/MM/yyyy'}}</td>
          <td>{{item.category}}</td>
          <td>{{item.item_qt}}</td>
          <td>
            <button class="btn btn-success" (click)="refreshClick()">更新</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-warning" [disabled]="delArray.length === 0" (click)="deleteClick()">刪除</button>
  </div>
</div>
<refreshItem *ngIf="refreshBut"></refreshItem>
<importItem *ngIf="importBut"></importItem>