<div class="text-center well" style="background-color: #FFFFFF">
  <h1 class="text-center" style="margin: 20 0 20 0">更新受贈者資訊</h1>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-4">
      <label class="control-label">名稱</label>
      <input class="form-control" placeholder="姓名" [(ngModel)]="donee.donee_name"> </div>

    <div class="col-md-4">
      <label class="control-label">單位分類</label>
      <select name="user-category" class="form-control" [(ngModel)]="donee.category">
        <option *ngFor="let c of category" [value]="c">{{c}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label class="control-label">戶數</label>
      <input class="form-control" placeholder="幾戶" [(ngModel)]="donee.house_num"> </div>
    <div class="col-md-2">
      <label class="control-label">人數</label>
      <input class="form-control" placeholder="幾個人" [(ngModel)]="donee.people_num"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-3">
      <label class="control-label">電話</label>
      <input class="form-control" placeholder="ex: 06-2757575" [(ngModel)]="donee.phone"> </div>
    <div class="col-md-9">
      <label class="control-label">地址</label>
      <input type="text" class="form-control" placeholder="輸入單位或個人地址" 
             [(ngModel)]="item.address"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-2">
      <label class="control-label">聯絡人姓名</label>
      <input class="form-control" placeholder="請填入聯絡人姓名" [(ngModel)]="donee.contact"> </div>
    <div class="col-md-3">
      <label class="control-label">聯絡人電話</label>
      <input class="form-control" placeholder="聯絡人的電話" [(ngModel)]="donee.contact_phone"> </div>
    <div class="col-md-7">
      <label class="control-label">E-mail</label>
      <input class="form-control" placeholder="a123912489123@gmail.com" [(ngModel)]="donee.email"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-12">
      <button class="btn btn-success btn-lg">取消</button>
      <button class="btn btn-warning btn-lg" (click)="sendClick()">送出</button>
    </div>
  </div>
</div>
