<div class="text-center well" style="background-color: #FFFFFF">
  <h1 class="text-center" style="margin: 20 0 20 0">新增物資項目</h1>

  <form #itemForm="ngForm">
    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-4">
        <label class="control-label">全贈字號</label>
        <input class="form-control" name="_id" placeholder="10502001" [(ngModel)]="item._id"  
               required> 
      </div>
      <div class="col-md-4">
        <label class="control-label">品項名稱</label>
        <input class="form-control" placeholder="開心果" name="item_name" [(ngModel)]="item.item_name" 
               required> 
      </div>
      <div class="col-md-4">
        <label class="control-label">條碼</label>
        <input id="barcodeInput" class="form-control" name="barcode" placeholder="輸入完成後按enter自動填入歷史資料" 
               [(ngModel)]="item.barcode" (keypress)="enterBarcode($event)">
      </div>
      <div class="col-md-2">
        <label class="control-label">品項分類</label>
        <select name="item-category" name="category" class="form-control" [(ngModel)]="item.category" 
                required>
          <option *ngFor="let item of category" [value]="item">{{item}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label class="control-label">倉庫地區</label>
        <select name="warehouse-area" class="form-control" name="area" [(ngModel)]="item.area">
          <option *ngFor="let item of area" [value]="item">{{item}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label class="control-label">數量</label>
        <input class="form-control" placeholder="5" name="item_qt" [(ngModel)]="item.item_qt"
               required> </div>
      <div class="col-md-2">
        <label class="control-label">單位</label>
        <input class="form-control" placeholder="盒" name="item_unit" [(ngModel)]="item.item_unit"> 
      </div>
      <div class="col-md-2">
        <label class="control-label">重量 (g)</label>
        <input class="form-control" placeholder="150" name="weight" [(ngModel)]="item.weight"
               required> 
      </div>
      <div class="col-md-2">
        <label class="control-label">單價</label>
        <input class="form-control" placeholder="200" name="item_unitprice" [(ngModel)]="item.item_unitprice"> 
      </div>
      
      <div class="col-md-2">
        <label class="control-label">捐贈日期</label>
        <input class="form-control" placeholder="2016/02/20" [(ngModel)]="item.donate_dt" name="donate_dt"
               required> 
      </div>
      <div class="col-md-2">
        <label class="control-label">有效期限</label>
        <input class="form-control" placeholder="2016/03/01" [(ngModel)]="item.expire_dt" name="expire_dt" 
               required> 
      </div>
      <div class="col-md-2">
        <label class="control-label">捐贈者</label>
        <input class="form-control" placeholder="boss" [(ngModel)]="item.donor_name" name="donor_name" > 
      </div>
      <div class="col-md-6">
        <label class="control-label">紀錄與描述</label>
        <input type="text" class="form-control" placeholder="描述物品" [(ngModel)]="item.memo" name="memo" > 
      </div>
    </div>

    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-12">
        <button type="button" class="btn btn-success btn-md" (click)="cleanClick()">清除</button>
        <button type="submit" class="btn btn-warning btn-md" (click)="addItemClick()" [disabled]="!itemForm.form.valid">送出</button>
      </div>
    </div>
  </form>

</div>