<div class="text-center well" style="background-color: #FFFFFF">
  <h1 class="text-center" style="margin: 20 0 20 0">更新物資資訊</h1>
   
   
   <!-- update information start -->
   <form #itemForm="ngForm">
    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-4 form-group">
        <label class="control-label">全贈字號</label>
        <input class="form-control" [(ngModel)]="item._id" name="_id" > 
      </div>
      <div class="col-md-4">
        <label class="control-label">品項名稱</label>
        <input class="form-control" [(ngModel)]="item.item_name" name="item_name" > </div>
      <div class="col-md-4">
        <label class="control-label">條碼</label>
        <input class="form-control" [(ngModel)]="item.barcode" name="barcode" > </div>
    </div>
    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-2">
        <label class="control-label">品項分類</label>
        <select name="item-category" class="form-control" [(ngModel)]="item.category" name="category" >
          <option *ngFor="let c of category" [value]="c">{{c}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label class="control-label">倉庫地區</label>
        <select name="warehouse-area" class="form-control" [(ngModel)]="item.area" name="area" >
          <option *ngFor="let a of area" [value]="a">{{a}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label class="control-label">數量</label>
        <input class="form-control" [(ngModel)]="item.item_qt" name="item_qt" > </div>
      <div class="col-md-2">
        <label class="control-label">單位</label>
        <input class="form-control" [(ngModel)]="item.item_unit" name="item_unit" > </div>
      <div class="col-md-2">
        <label class="control-label">重量 (g)</label>
        <input class="form-control" [(ngModel)]="item.weight" name="weight" > </div>
      <div class="col-md-2">
        <label class="control-label">單價</label>
        <input class="form-control" [(ngModel)]="item.item_unitprice" name="item_unitprice" > </div>
    </div>
    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-2">
        <label class="control-label">捐贈日期</label>
        <input class="form-control" [(ngModel)]="item.donate_dt" name="donate_dt"></div>
      <div class="col-md-2">
        <label class="control-label">有效期限</label>
        <input class="form-control" [(ngModel)]="item.expire_dt" name="expire_dt" > </div>
      <div class="col-md-2">
        <label class="control-label">捐贈者</label>
        <input class="form-control" [(ngModel)]="item.donor_name" name="donor_name" > </div>
      <div class="col-md-6">
        <label class="control-label">紀錄與描述</label>
        <input type="text" class="form-control" [(ngModel)]="item.memo" name="memo" > </div>
    </div>
    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-12">
        <button class="btn btn-success btn-md">取消</button>
        <button type="submit" class="btn btn-warning btn-md" (click)="sendClick()" [disabled]="!itemForm.form.valid">送出</button>
      </div>
    </div>
  </form>

  <!--update information end-->

  <div class="row">
    <hr style="border-width: 2px; border-color: #AAAAAA; margin: 30 0 30 0">
    <h1 class="text-center" style="margin: 20 0 20 0">收據資訊</h1>
    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-4">
        <label class="control-label">接收人</label>
        <input class="form-control" placeholder="ex:周星星"> </div>
      <div class="col-md-4">
        <label class="control-label">物資類型</label>
        <input class="form-control" placeholder="ex:09123231239"> </div>
    </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-12">
      <button class="btn btn-success">取消</button>
      <button class="btn btn-warning">送出</button>
    </div>
  </div>
</div>
