<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-left">
        <div class="text-center well pageWell">
          <h1 class="text-primary">
            <i class="fa fa-fw fa-spin lery fa-bolt"></i>聯絡人</h1>
          <blockquote class="lead">
            <p>Members of FoodHub</p>
            <footer></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Foodhub member-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
</div>

<!--Foodhub member end-->



<!--Web design member-->

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center team-title bg-primary">Web</h1>
        <p class="lead text-center team-text">Foodhub Website Team</p>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let member of webDeveloper" class="col-md-4">
        <img src="{{member.photo}}" 
             class="center-block img-circle img-responsive img-size">
        <h3 class="text-center">{{member.name}}</h3>
        <p class="text-center">{{member.title}}</p>
        <div class="col-md-12 text-center">
          <a href="{{member.fb}}" target="_blank">
            <i class="fa fa-3x fa-facebook-square fa-fw text-primary"></i>
          </a>
          <a href="{{member.github}}" target="_blank">
            <i class="fa fa-3x fa-fw fa-github-square text-danger"></i>
          </a>
          <a href="{{member.web}}" target="_blank">
            <i class="fa fa-3x fa-envelope-square fa-fw hub-square text-success"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Web design member end-->