label {
    margin: 5px 0px;
}

textarea {
    resize: none;
}

th {
    text-align: center;
}

td > label {
    text-align: right;
}

i.animated.bounceIn {
    animation-iteration-count: 1;
}

i.animated.bounceIn:hover {
    animation-iteration-count: infinite;
    animation-duration: 1.1s;
}

.success {
    background-color: green;
    /*transition: background-color 0.5s linear;*/
}

.fail {
    animation: fail 1s;
    /*transition: background-color 0.5s linear;*/    
}

@keyframes fail {
    0%   { background-color: red; }
    100% { background-color: #fff; }
}

@keyframes success {
    0%   { background-color: green; }
    100% { background-color: #fff; }
}