<div class="row" style="margin: 10 10 10 10">
  <div class="col-md-3">
    <label class="control-label">名稱</label>
    <input class="form-control" placeholder="社福名稱"> </div>
  <div class="col-md-3">
    <label class="control-label">標號</label>
    <input class="form-control" placeholder="社福團體編號"> </div>
  <div class="col-md-2">
    <label class="control-label">單位分類</label>
    <select name="user-category" class="form-control">
      <option value="cat-disability">身心障礙</option>
      <option value="cat-individual">街友 / 獨居老人</option>
      <option value="cat-cramschool">弱勢清寒 / 課輔班</option>
      <option value="cat-family">弱勢家庭 - 兒童 / 青少年 / 原住民 / 新移民 / 隔代教養 </option>
      <option value="cat-other">其他 (特殊境遇)</option>
    </select>
  </div>
  <div class="col-md-2">
    <label class="control-label">戶數</label>
    <input class="form-control" placeholder="ex: 2"> </div>
  <div class="col-md-2">
    <label class="control-label">人數</label>
    <input class="form-control" placeholder="ex: 5"> </div>
</div>
<div class="row" style="margin: 10 10 10 10">
  <div class="col-md-3">
    <label class="control-label">電話</label>
    <input class="form-control" placeholder="ex: 06-2757575"> </div>
  <div class="col-md-9">
    <label class="control-label">地址</label>
    <input type="password" class="form-control" placeholder="輸入單位或個人地址"> </div>
</div>
<div class="row" style="margin: 10 10 10 10">
  <div class="col-md-2">
    <label class="control-label">聯絡人姓名</label>
    <input class="form-control" placeholder="應該是填人吧"> </div>
  <div class="col-md-3">
    <label class="control-label">聯絡人電話</label>
    <input class="form-control" placeholder="人的電話吧"> </div>
  <div class="col-md-7">
    <label class="control-label">E-mail</label>
    <input class="form-control" placeholder="a123912489123@gmail.com"> </div>
</div>
<div class="row" style="margin: 10 10 10 10">
  <div class="col-md-12 text-center">
    <button class="btn btn-success btn-lg">取消</button>
    <button class="btn btn-warning btn-lg">新增</button>
  </div>
</div>
