<div class="row" style="margin: 10 10 10 10">
  <div class="col-md-3">
    <label class="control-label">名稱</label>
    <input class="form-control" placeholder="社福名稱" [(ngModel)]="donee.donee_name"> </div>
  <div class="col-md-3">
    <label class="control-label">標號</label>
    <input class="form-control" placeholder="社福團體編號" [(ngModel)]="donee._id"></div>
  <div class="col-md-2">
    <label class="control-label">單位分類</label>
    <select name="user-category" class="form-control" [(ngModel)]="donee.category">
      <option *ngFor="let item of category" [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <label class="control-label">戶數</label>
    <input class="form-control" placeholder="ex: 2" [(ngModel)]="donee.house"> </div>
  <div class="col-md-2">
    <label class="control-label">人數</label>
    <input class="form-control" placeholder="ex: 5" [(ngModel)]="donee.people"> </div>
</div>
<div class="row" style="margin: 10 10 10 10">
  <div class="col-md-3">
    <label class="control-label">電話</label>
    <input class="form-control" placeholder="ex: 06-2757575" [(ngModel)]="donee.phone"> </div>
  <div class="col-md-9">
    <label class="control-label">地址</label>
    <input type="password" class="form-control" placeholder="輸入單位或個人地址" [(ngModel)]="donee.address"> </div>
</div>
<div class="row" style="margin: 10 10 10 10">
  <div class="col-md-2">
    <label class="control-label">聯絡人姓名</label>
    <input class="form-control" placeholder="應該是填人吧" [(ngModel)]="donee.contact"> </div>
  <div class="col-md-3">
    <label class="control-label">聯絡人電話</label>
    <input class="form-control" placeholder="人的電話吧" [(ngModel)]="donee.contact_phone"> </div>
  <div class="col-md-7">
    <label class="control-label">E-mail</label>
    <input class="form-control" placeholder="a123912489123@gmail.com" [(ngModel)]="donee.email"> </div>
</div>
<div class="row" style="margin: 10 10 10 10">
  <div class="col-md-12 text-center">
    <button class="btn btn-success btn-lg">取消</button>
    <button class="btn btn-warning btn-lg" (click)="addDoneeClick()">新增</button>
  </div>
</div>
