<div class="row" style="margin: 20 10 10 10">
  <div class="col-md-4">
    <input class="form-control" placeholder="你要找什麼呢？"> </div>
  <div class="col-md-4">
    <select name="user-info" class="form-control">
      <option value="user-name">單位名稱</option>
      <option value="user-unit">單位分類</option>
    </select>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary">送出</button>
  </div>
</div>
<div class="row" style="margin: 20 10 10 10">
  <div class="col-md-12 text-center table-responsive">
    <table class="table table-bordered table-hover table-striped table-sm">
      <thead>
        <tr>
          <th>
            <input type="checkbox" value=""> </th>
          <th>單位名稱</th>
          <th>單位編號</th>
          <th>單位分類</th>
          <th>戶數</th>
          <th>人數</th>
          <th>電話</th>
          <th>地址</th>
          <th>聯絡人姓名</th>
          <th>聯絡人電話</th>
          <th>E-mail</th>
          <th>物資管理</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox" value=""> </td>
          <td>FoodHub</td>
          <td>001</td>
          <td>團體</td>
          <td>1</td>
          <td>3</td>
          <td>06-3345677</td>
          <td>台南市成功路一號</td>
          <td>ZIZI</td>
          <td>0932495729</td>
          <td>FoodHub@gmail.com</td>
          <td>
            <button class="btn btn-success" (click)="updateClick()">更新</button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" value=""> </td>
          <td>AnCher</td>
          <td>002</td>
          <td>個人</td>
          <td>1</td>
          <td>1</td>
          <td>06-1234575</td>
          <td>台南市成功路二號</td>
          <td>安哲</td>
          <td>0932429009</td>
          <td>Angher@gmail.com</td>
          <td>
            <button class="btn btn-success" (click)="updateClick()">更新</button>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" value=""> </td>
          <td>Erica</td>
          <td>003</td>
          <td>個人</td>
          <td>1</td>
          <td>2</td>
          <td>06-3345677</td>
          <td>台南市成功路一號</td>
          <td>ZIZI</td>
          <td>0932495729</td>
          <td>FoodHub@gmail.com</td>
          <td>
            <button class="btn btn-success" (click)="updateClick()">更新</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-warning">刪除</button>
  </div>
</div>
<updateReceiver *ngIf="selectedBut"></updateReceiver>
