<div class="row" style="margin: 20 10 10 10">
  <div class="col-md-4">
    <input class="form-control" placeholder="你要找什麼呢？" [(ngModel)]="searchWord" *ngIf="!selectCat"> 
    
    <select *ngIf="selectCat" class="form-control" [(ngModel)]="searchWord">
      <option *ngFor="let item of category" [value]="item">{{item}}</option>
    </select>
  </div>
  <div class="col-md-4">
    <select name="user-info" class="form-control" [(ngModel)]="searchKey" 
          (change)="searchChange($event.target.value)">
      <option *ngFor="let donee of categorySearch" [value]="donee">{{donee}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary" (click)="searchClick()">送出</button>
  </div>
</div>
<div class="row" style="margin: 20 10 10 10">
  <div class="col-md-12 text-center table-responsive">
    <table class="table table-bordered table-hover table-striped table-sm">
      <thead>
        <tr>
          <th>
            <input type="checkbox" value=""> </th>
          <th>單位名稱</th>
          <th>單位編號</th>
          <th>單位分類</th>
          <th>戶數</th>
          <th>人數</th>
          <th>電話</th>
          <th>地址</th>
          <th>聯絡人姓名</th>
          <th>聯絡人電話</th>
          <th>E-mail</th>
          <th>物資管理</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donee of doneeList">
          <td>
            <input type="checkbox" (change)="checkChange(donee, $event.target.checked)"> 
          </td>
          <td>{{donee.donee_name}}</td>
          <td>{{donee._id}}</td>
          <td>{{donee.category}}</td>
          <td>{{donee.house}}</td>
          <td>{{donee.people}}</td>
          <td>{{donee.phone}}</td>
          <td>{{donee.address}}</td>
          <td>{{donee.contact}}</td>
          <td>{{donee.contact_phone}}</td>
          <td>{{donee.email}}</td>
          <td>
            <button class="btn btn-success" (click)="refreshClick()">更新</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-warning" [disabled]="doneeList.length === 0" (click)="deleteClick()">刪除</button>
  </div>
</div>
<updateReceiver *ngIf="selectedBut"></updateReceiver>
