<div class="text-center well" style="background-color: #FFFFFF">
  <h1 class="text-center" style="margin: 20 0 20 0">更新受贈者資訊</h1>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-3">
      <label class="control-label">名稱</label>
      <input class="form-control" placeholder="姓名"> </div>
    <div class="col-md-3">
      <label class="control-label">標號</label>
      <input class="form-control" placeholder="這啥啊我不知道"> </div>
    <div class="col-md-2">
      <label class="control-label">單位分類</label>
      <select name="user-category" class="form-control">
        <option value="cat-">弱勢安親斑</option>
        <option value="cat-other">其他</option>
      </select>
    </div>
    <div class="col-md-2">
      <label class="control-label">戶數</label>
      <input class="form-control" placeholder="幾戶"> </div>
    <div class="col-md-2">
      <label class="control-label">人數</label>
      <input class="form-control" placeholder="幾個人"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-3">
      <label class="control-label">電話</label>
      <input class="form-control" placeholder="ex: 06-2757575"> </div>
    <div class="col-md-9">
      <label class="control-label">地址</label>
      <input type="password" class="form-control" placeholder="輸入單位或個人地址"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-2">
      <label class="control-label">聯絡人姓名</label>
      <input class="form-control" placeholder="應該是填人吧"> </div>
    <div class="col-md-3">
      <label class="control-label">聯絡人電話</label>
      <input class="form-control" placeholder="人的電話吧"> </div>
    <div class="col-md-7">
      <label class="control-label">E-mail</label>
      <input class="form-control" placeholder="a123912489123@gmail.com"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-12">
      <button class="btn btn-success btn-lg">取消</button>
      <button class="btn btn-warning btn-lg">送出</button>
    </div>
  </div>
</div>
