<div class="row" style="margin: 10 10 10 10">
  <div class="col-md-12 text-left">
    <div class="text-center" style="background-color: #FFFFFF">
      <h1>新增使用者</h1>
      <div class="row" style="margin: 10 10 10 10">
        <div class="col-md-3">
          <label class="control-label">姓名</label>
          <input class="form-control" placeholder="姓名"> </div>
        <div class="col-md-3">
          <label class="control-label">單位</label>
          <input class="form-control" placeholder="單位"> </div>
        <div class="col-md-3">
          <label class="control-label">地區</label>
          <select name="user-info" class="form-control">
            <option value="tp">台中</option>
            <option value="ks">高雄</option>
          </select>
        </div>
        <div class="col-md-3">
          <label class="control-label">手機</label>
          <input class="form-control" placeholder="手機"> </div>
      </div>
      <div class="row" style="margin: 10 10 10 10">
        <div class="col-md-4">
          <label class="control-label">帳號</label>
          <input class="form-control" placeholder="帳號"> </div>
        <div class="col-md-4">
          <label class="control-label">密碼</label>
          <input type="password" class="form-control" placeholder="密碼"> </div>
        <div class="col-md-4">
          <label class="control-label">權限</label>
          <select name="user-info" class="form-control">
            <option value="admin">管理員</option>
            <option value="member">一般使用者</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success btn-lg">新增使用者</button>
        </div>
      </div>
    </div>
  </div>
</div>
