

<div class="row" style="margin: 20 10 10 10">
  <form #searchForm="ngForm">
    <div class="col-md-4 searchBar">
      <input name="user-name" type="text" class="form-control" placeholder="搜尋使用者" 
            [(ngModel)]="searchWord" required> 
    </div>
    <div class="col-md-4 searchBar">
      <select name="user-info" class="form-control" [(ngModel)]="searchKey" required>
        <option *ngFor="let item of categorySearch" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="col-md-2 searchBar">
      <button type="submit" class="btn btn-primary" (click)="searchClick()" 
              [disabled]="!searchForm.form.valid">送出</button>
    </div>
  </form>
</div>


<div class="row" style="margin: 20 10 10 10">
  <div class="col-md-12 text-center">
    <table class="table table-bordered table-hover table-striped animated zoomIn">
      <thead>
        <tr>
          <th>
            <input type="checkbox" value=""> </th>
          <th>姓名</th>
          <th>手機</th>
          <th>地區</th>
          <th>帳號</th>
          <th>選項</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of dataList">
          <td>
            <input #userCheck type="checkbox" value="" (change)="checkChange(user, userCheck.checked)"> </td>
          <td>{{user.user_name}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.area}}</td>
          <td>{{user.account}}</td>
          <td>
            <button class="btn btn-success" (click)="editClick(user)">更改</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-warning" (click)="deleteClick()">刪除</button>
  </div>
</div>

<updateUser *ngIf="selectedBut" [inputItem]="selectedItem"></updateUser>
