<form #userForm="ngForm">
  <div class="text-center well" style="background-color: #FFFFFF">
    <h1 class="text-center" style="margin: 20 0 20 0">更新使用者資訊</h1>

    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-3">
        <label class="control-label">姓名</label>
        <input class="form-control" name="name" placeholder="姓名" [(ngModel)]="user.user_name"> </div>
      <div class="col-md-3">
        <label class="control-label">單位</label>
        <input class="form-control" name="unit" placeholder="單位" [(ngModel)]="user.user_unit"> </div>
      <div class="col-md-3">
        <label class="control-label">地區</label>
        <select name="user-info" name="area" class="form-control" [(ngModel)]="user.area">
          <option *ngFor="let item of area" [value]="item">{{item}}</option>
          </select>
      </div>
      <div class="col-md-3">
        <label class="control-label">手機</label>
        <input class="form-control" name="phone" placeholder="手機" [(ngModel)]="user.phone"> </div>
    </div>
    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-4">
        <label class="control-label">帳號</label>
        <input class="form-control" name="account" placeholder="帳號" [(ngModel)]="user.account"> </div>
      <div class="col-md-4">
        <label class="control-label">密碼</label>
        <input type="password" name="password" class="form-control" placeholder="密碼" [(ngModel)]="user.password"> </div>
      <div class="col-md-4">
        <label class="control-label">權限</label>
        <select name="auth" class="form-control" [(ngModel)]="user.auth">
          <option *ngFor="let item of auth" [value]="item">{{item}}</option>
          </select>
      </div>
    </div>
    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-12 text-center">
        <button class="btn btn-success" (click)="clearClick()">取消</button>
        <button class="btn btn-warning" (click)="sendClick()">送出</button>
      </div>
    </div>
  </div>
</form>