<div class="text-center well" style="background-color: #FFFFFF">
  <h1 class="text-center" style="margin: 20 0 20 0">更新捐贈者資訊</h1>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-4">
      <label class="control-label">名字</label>
      <input class="form-control" placeholder="姓名"> </div>
    <div class="col-md-4">
      <label class="control-label">IC</label>
      <input class="form-control" placeholder="這啥啊我不知道"> </div>
    <div class="col-md-4">
      <label class="control-label">分類</label>
      <select name="user-category" class="form-control">
        <option value="category-individual">個人</option>
        <option value="category-group">高雄</option>
      </select>
    </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-3">
      <label class="control-label">Zip Code</label>
      <input class="form-control" placeholder="ex:100001"> </div>
    <div class="col-md-3">
      <label class="control-label">單位</label>
      <input class="form-control" placeholder="ex:個人"> </div>
    <div class="col-md-3">
      <label class="control-label">電話</label>
      <input class="form-control" placeholder="ex: 06-2757575"> </div>
    <div class="col-md-3">
      <label class="control-label">手機</label>
      <input class="form-control" placeholder="ex: 0912345678"> </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-2">
      <label class="control-label">地區</label>
      <select name="user-area" class="form-control">
        <option value="area-choose">選擇居住地區</option>
        <option value="area-n">北部</option>
        <option value="area-w">西部</option>
      </select>
    </div>
    <div class="col-md-2">
      <label class="control-label">縣市</label>
      <select name="user-country" class="form-control">
        <option value="country-choose">選擇居住城市</option>
        <option value="country-Taipei">台北</option>
        <option value="country-nTaipei">新北</option>
        <option value="country-Tainan">台南</option>
      </select>
    </div>
    <div class="col-md-8">
      <label class="control-label">地址</label>
      <input type="password" class="form-control" placeholder="輸入單位或個人地址"> </div>
  </div>
  <div class="row">
    <hr style="border-width: 2px; border-color: #AAAAAA; margin: 30 0 30 0">
    <h1 class="text-center" style="margin: 20 0 20 0">機關團體請填寫下列資料</h1>
    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-4">
        <label class="control-label">聯絡人姓名</label>
        <input class="form-control" placeholder="ex:周星星"> </div>
      <div class="col-md-4">
        <label class="control-label">聯絡人電話</label>
        <input class="form-control" placeholder="ex:09123231239"> </div>
    </div>
    <div class="row" style="margin: 10 10 10 10">
      <div class="col-md-3">
        <label class="control-label">機關團體人數</label>
        <input class="form-control" placeholder="ex:5"> </div>
      <div class="col-md-3">
        <label class="control-label">戶數</label>
        <input class="form-control" placeholder="ex:1000"> </div>
      <div class="col-md-6">
        <label class="control-label">E-mail</label>
        <input class="form-control" placeholder="ex:JohhhhnCena@google.com"> </div>
    </div>
  </div>
  <div class="row" style="margin: 10 10 10 10">
    <div class="col-md-12">
      <button class="btn btn-success btn-lg">取消</button>
      <button class="btn btn-warning btn-lg">送出</button>
    </div>
  </div>
</div>
